.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 999;
}

.navbar-title {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.title-sports {
    color: #ffffff;
}

.title-match {
    color: #ffd700;
}

.navbar-list {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 0;
}

.navbar-item {
    margin-right: 2rem;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
}

.navbar-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    color: white;
    cursor: pointer;
}

@media (max-width: 480px) {
    .navbar-list {
        display: none;
    }

    .navbar-menu.open {
        background-color: #333333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navbar-menu.open .navbar-list {
        display: block;
    }

    .navbar-toggle {
        margin-right: 2rem;
        display: block;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-menu.open .navbar-toggle {
        color: white;
    }
}